@import './variables';

.sidebar {
    width: 200px;
    background-color: $secondary-color;
    padding: 15px;
    display: flex;
    flex-direction: column;

    a {
        display: block;
        color: #ffffff;
        text-decoration: none;
        padding: 10px 15px;
        border-radius: 4px;
        margin-bottom: 10px;
        transition: background-color 0.3s;

        &:hover {
            background-color: $primary-color;
        }

        &.active {
            background-color: $primary-color;
        }
    }
}
